@model IEnumerable<RestaurantEntity.AssignWork>;
@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";
}
<div class="row">
    <div class="col-12">
        <h3>Assigned Works</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Food Name</th>
                    <th>Employee Name</th>
                    <th>Speciality</th>
                    <th>Quantity</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Order.Food.FoodName</td>
                        <td>@item.Employee.EmpName</td>
                        <td>@item.Employee.EmpSpeciality</td>
                        <td>@item.Order.Quantity</td>

                        <td><a asp-controller="AssignWork" asp-action="EditAssignWork" asp-route-AssignWorkID="@item.AssignId" class="btn btn-primary">Edit Assigned Work</a></td>
                        <td><a asp-controller="AssignWork" asp-action="DeleteAssignWork1" asp-route-AssignWorkID="@item.AssignId" class="btn btn-danger">Delete Assigned Work</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>