@model IEnumerable<RestaurantEntity.Order>;
@{
    ViewData["Title"] = "GenerateBill";
}

<h1>GenerateBill</h1>

@*<div class="row">
    <div class="col-12">
        <h3>Generated Bill</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Table Number</th>
                    <th>OrderDate</th>
                    <th>Food Cuisine</th>
                    <th>Food Id</th>
                    <th>Quantity</th>

                    <th>Order Total</th>
                    <th>Food Name</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HallTableId</td>
                        <td>@item.OrderDate</td>
                        <td>@item.Food.FoodCuisine</td>
                        <td>@item.FoodId</td>
                        <td>@item.Quantity</td>
                        <td>@item.OrderTotal</td>
                        <td>@item.Food.FoodName</td>

                        <td><a asp-controller="" asp-action="" asp-route-movieID="@item.OrderId">Edit</a></td>
                        @*asp-route-movieID must be similar to paased movie Id in Edit Action
                        <td><a asp-controller="" asp-action="" asp-route-movieID="@item.OrderId">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>*@
<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p>
                </div>
                <div class="col-xl-3 float-end">
                    <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark">
                        <i class="fas fa-print text-primary"></i> Print
                    </a>
                    <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark">
                        <i class="far fa-file-pdf text-danger"></i> Export
                    </a>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                        <p class="pt-0">My Restaurant Management</p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted">To: <span style="color:#5d9fc5 ;">John Lorem</span></li>
                            <li class="text-muted">Street, City</li>
                            <li class="text-muted">State, Country</li>
                            <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Invoice</p>
                        <ul class="list-unstyled">
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID:</span>#123-456
                            </li>
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Creation Date: </span>Jun 23,2021
                            </li>
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                                    Unpaid
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-light table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Table Number</th>
                                <th>OrderDate</th>
                                <th>Food Cuisine</th>
                                <th>Food Cost</th>
                                <th>Quantity</th>

                                <th>Order Total</th>
                                <th>Food Name</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var total=0;
                                var quantity = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.HallTableId</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.Food.FoodCuisine</td>
                                    <td>@item.Food.FoodCost</td>
                                    <td>@item.Quantity</td>
                                    @{
                                        total+= item.OrderTotal;
                                        quantity += item.Quantity;
                                    }
                                    <td>@item.OrderTotal</td>
                                    <td>@item.Food.FoodName</td>

                                    <td><a asp-controller="" asp-action="" asp-route-movieID="@item.OrderId">Edit</a></td>
                                    @*asp-route-movieID must be similar to paased movie Id in Edit Action*@
                                    <td><a asp-controller="" asp-action="" asp-route-movieID="@item.OrderId">Delete</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <p class="ms-3">Add additional notes and payment information</p>

                    </div>
                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>₹@total</li>
                            <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(15%)</span>₹@(total*0.15)</li>
                        </ul>
                        <p class="text-black float-start">
                            <span class="text-black me-3"> Total Amount</span><span style="font-size: 25px;">₹@(total * 0.15+total)</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>Thank you for your purchase</p>
                    </div>
                    <div class="col-xl-2">
                     @foreach (var item in Model)
                     {
                        
                        <a asp-controller="Bill" asp-action="Index" asp-route-HallId="@item.HallTableId" class="btn btn-success">PayNow</a>
                        break;
                        
                     }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>