@model IEnumerable<RestaurantEntity.Order>
@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";

}
<div>
    <a asp-controller="Employee" asp-action="Index">Home</a>
    <hr />
</div>
<h1>Index of HeadChef</h1>
<a asp-controller="AssignWork" asp-action="ViewAll" class="btn btn-success">View Assigned</a>@*
<a asp-controller="AssignWork" asp-action="UpdateAssigned" class="btn btn-primary">View Assigned</a>
<a asp-controller="AssignWork" asp-action="DeleteAssigned" class="btn btn-danger">Delete Assigned</a>*@


<div class="row">
    <div class="col-12">
        <h3>Orders</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>HallTable No</th>
                    <th>Table Size</th>
                    <th>Food Name</th>
                    <th>item Quantity</th>
                    <th>Order Status</th>
                    <th>item Cuisine</th>
                    <th>Order Date</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HallTableId</td>
                        <td>@item.HallTable.HallTableSize</td>
                        <th>@item.Food.FoodName</th>
                        <td>@item.Quantity</td>
                        <td>@item.OrderStatus</td>
                        <td>@item.Food.FoodCuisine</td>
                        <td>@item.OrderDate</td>

                        @*  <td><img height="50" width="50" src="@imageDataURL" /></td>*@

                        <td>
                            <a asp-controller="HeadChef" asp-action="cheflist" class="btn btn-success"
                           asp-route-OrderId="@item.OrderId">Assign to Chef</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>